.breadcrumbs {
    font-size: .65em;
    margin: 0 0 2em;
}

.breadcrumbs ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs li:not(:last-child)::after {
    content: ">\00a0";
    display: inline-block;
    padding-left: .75ch;
    speak: none;
}

.breadcrumbs [aria-current="page"] {
    color: inherit;
    font-weight: 400;
    text-decoration: none;
}

.breadcrumbs [aria-current="page"]:hover,
.breadcrumbs [aria-current="page"]:focus {
    text-decoration: underline;
}